.filter-container {
    color: #777;
    input {
        background-color: rgb(20, 32, 49);
        // border-radius: 8;
        border-color: 1px #777;
        color: #777;
        border: none;
        padding: 5px; 
    }
}