.sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-width: 10rem;
    background-color: inherit(220, 212, 145);
    border-right: 2px solid rgb(27, 40, 63);
    margin-left: 1rem;
    margin-right: 1rem;
    gap: 2rem;
    
    header {
        color: gray;
        text-align: left;
        font-size: x-large;
    }
    .links {
        display: flex;
        flex-direction: column;
        gap: 1em;
        text-align: start;

        .link {
            color: white;
            width:90%;
            padding: 8px;
            border-radius: 4px;
            transition: background-color 1s ease;

            &:hover {
                background-color: #7b839a;
                color: rgb(34, 69, 167);
            }
        }
    }
}