.table-container {
    background-color: inherit;
    display: flex;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    margin-top: 20px;

    .table {
        background-color: rgb(27, 40, 63);
        overflow-x: hidden;
        border-collapse: collapse;
        border-radius: 10px;
        white-space: nowrap;
        width: 100%;
        min-width: 800px; 
        max-width: 100%;

        tr::after {
            display: block;
            border-bottom: 1px solid #ccc; 
            margin: 5px 0; 
        }

        thead {
            color: rgb(92, 89, 132);

            th{
                font-size: 22px;
            }
        }

        td {
            font-size: medium;
            color: white;
            padding: 0.8rem;
            // text-overflow: ellipsis;
            max-width: 170px; 
            min-width: 80px;
            overflow-x: auto;
            scrollbar-width: none; 
            -ms-overflow-style: none; 
            &::-webkit-scrollbar {
                display: none; 
            }

        }

        tbody tr {
            &:hover {
                background-color: #878c9b;
            }
        }

        .label {
            border-radius: 3px;
            padding: 0.3rem;
            cursor: pointer;
          
            &.draft {
                color: #777;
                border-color: #777;
            }
          
            &.active {
                color: #7bbc7b;
                border-color: #7bbc7b;
            }
          
            &.deleted {
                color: #d9534f;
                border-color: #d9534f;
            }
        }

        .actions {
            display: flex;
            justify-content: space-around;

            svg {
                cursor: pointer;
            }
          }
    }
}