.table-container {
    background-color: inherit;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .table {
        background-color: rgb(27, 40, 63);
        // display: block;
        overflow: hidden;
        border-collapse: collapse;
        table-layout: auto;
        border-radius: 10px;
        white-space: nowrap;
        width: 100%;
        margin: auto;

        tr::after {
            display: block;
            border-bottom: 1px solid #ccc; 
            margin: 5px 0; 
        }

        thead {
            color: rgb(92, 89, 132);
            width: 100%;
            // text-align: left;
        }

        td {
            color: white;
            padding: 0.8rem;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        tbody tr {
            &:hover {
                background-color: #878c9b;
            }
        }

        .label {
            border-radius: 3px;
            padding: 0.3rem;
            cursor: pointer;
          
            &.label-draft {
                color: #777;
                border-color: #777;
            }
          
            &.label-active {
                color: #42a942;
                border-color: #42a942;
            }
          
            &.label-deleted {
                color: #d9534f;
                border-color: #d9534f;
            }
        }

        .actions {
            display: flex;
            justify-content: space-around;

            svg {
                cursor: pointer;
            }
          }
    }
}