.App {
  display: flex;
  text-align: center;
  background-color: rgb(20, 32, 49);
  height: 100vh;
} 

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: large;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  transition: 0.5s ease;
}
